.endmatter {
  text-align:center;
}

a:link{
  color:blue;
  text-decoration: none;
}
a:visited{
  color:blue;
  text-decoration: none;
}
A:hover{
  color:green;
  text-decoration: none;
} 
a:active{
  color: hotpink;
  text-decoration: none;
}
